# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [63]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as wb

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [64]:
start = dt.date(2015, 1, 1)
end = dt.date.today()

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [65]:
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM']

### Step 4. Read the data from google, assign to df and print it

In [66]:
df = wb.DataReader(stocks, 'iex', start, end)

# Google Finance has been deprecated - used IEX instead (dataframe instead of panel)
df.head()

Attributes      open                               high                      \
Symbols         AAPL       IBM    TSLA   TWTR      AAPL       IBM      TSLA
date
2015-01-02  103.0442  135.3839  222.87  36.23  103.0904  137.0624  223.2500
2015-01-05  100.1765  135.3503  214.55  36.26  100.5095  135.3503  216.5000
2015-01-06   98.5576  134.0075  210.06  36.27   99.3809  134.2509  214.2000
2015-01-07   99.1681  131.9344  213.35  39.10  100.0932  131.9344  214.7800
2015-01-08  101.0460  131.1287  212.81  37.42  103.7472  133.4821  213.7999

Attributes              low                                  close            \
Symbols      TWTR      AAPL       IBM      TSLA     TWTR      AAPL       IBM
date
2015-01-02  36.74   99.3069  135.1237  213.2600  35.5401  101.1385  136.0133
2015-01-05  37.11   97.5122  133.6046  207.1626  35.6400   98.2893  133.8732
2015-01-06  39.45   96.7907  130.2307  204.2100  36.0400   98.2985  130.9861
2015-01-07  39.10   98.7010  129.2739  209.7800  37.0600   99.6769  130.1300
2015-01-08  39.19  100.5557  130.5496  210.0100  37.0900  103.5067  132.9584

Attributes                    volume
Symbols        TSLA   TWTR      AAPL      IBM     TSLA      TWTR
date
2015-01-02  219.310  36.56  53204626  5525466  4764443  12062461
2015-01-05  210.090  36.38  64285491  4880389  5368477  15062744
2015-01-06  211.280  38.76  65797116  6146712  6261936  33050812
2015-01-07  210.950  37.28  40105934  4701839  2968390  22675663
2015-01-08  210.615  39.09  59364547  4241113  3442509  19190436

### Step 5.  What is the type of structure of df ?

In [67]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [68]:
df.columns

MultiIndex(levels=[['open', 'high', 'low', 'close', 'volume'], ['AAPL', 'IBM', 'TSLA', 'TWTR']],
           codes=[[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]],
           names=['Attributes', 'Symbols'])

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [69]:
vol = df['volume']

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [77]:
vol = vol.set_index(pd.to_datetime(vol.index)).resample('W').mean()
vol.head()

Symbols            AAPL        IBM        TSLA        TWTR
date
2015-01-04  53204626.00  5525466.0  4764443.00  12062461.0
2015-01-11  56650523.00  4891680.0  4541921.40  22943603.4
2015-01-18  60845329.40  4652641.2  6159827.40  20019475.0
2015-01-25  49684260.25  7811214.0  4053875.25  16678487.0
2015-02-01  93168536.80  6585612.2  3144043.40  17486175.6

### Step 9. Find all the volume traded in the year of 2015

In [83]:
vol[vol.index.year == 2015]
# check: len = 52

Symbols             AAPL         IBM        TSLA         TWTR
date
2015-01-04  5.320463e+07  5525466.00  4764443.00  12062461.00
2015-01-11  5.665052e+07  4891680.00  4541921.40  22943603.40
2015-01-18  6.084533e+07  4652641.20  6159827.40  20019475.00
2015-01-25  4.968426e+07  7811214.00  4053875.25  16678487.00
2015-02-01  9.316854e+07  6585612.20  3144043.40  17486175.60
2015-02-08  5.415148e+07  4488040.20  3809537.00  46075666.80
2015-02-15  6.064136e+07  3632996.00  8094535.40  27418797.40
2015-02-22  4.858874e+07  3527563.75  4457370.50  17770559.00
2015-03-01  7.364327e+07  4588285.60  5873558.80  14524721.20
2015-03-08  4.938770e+07  4223546.40  5633161.80  13904442.60
2015-03-15  6.530281e+07  5227239.60  5374975.60  13754471.20
2015-03-22  5.333460e+07  5137076.80  5617696.40  14270681.60
2015-03-29  4.186524e+07  4715829.80  4948955.60  25100877.40
2015-04-05  4.050795e+07  4191438.75  5980268.50  20496720.00
2015-04-12  3.644148e+07  2783434.60  6194938.60  21027635.80
2015-04-19  3.423723e+07  3507666.60  2573111.20  13744083.80
2015-04-26  4.148814e+07  7088326.20  4138771.20  11466502.40
2015-05-03  8.419446e+07  4375715.00  6177525.80  61250818.20
2015-05-10  5.437840e+07  3359898.60  5925309.40  22998002.80
2015-05-17  4.166030e+07  2687322.40  4979871.00  13851285.40
2015-05-24  4.345949e+07  2387922.60  2995348.80  17778661.60
2015-05-31  4.953714e+07  3110475.25  3585862.00  15573308.25
2015-06-07  3.416818e+07  2773642.20  2379402.40  14555470.80
2015-06-14  4.402292e+07  3672854.00  2909797.80  23979555.80
2015-06-21  3.970505e+07  4152668.00  2985897.80  32637747.20
2015-06-28  3.911880e+07  4188079.20  3506365.60  17702694.80
2015-07-05  3.774547e+07  3244803.75  3957749.50  23163721.50
2015-07-12  5.514367e+07  3628807.40  4478614.20  13157991.20
2015-07-19  3.784901e+07  3427701.60  2701928.20  21944737.40
2015-07-26  6.885380e+07  7424873.60  3851167.40  11521359.80
2015-08-02  3.831970e+07  3076113.40  3127441.40  44569339.40
2015-08-09  7.700013e+07  4029744.80  6163493.40  27153084.60
2015-08-16  6.903707e+07  3433033.20  4248789.60  24135575.60
2015-08-23  6.410181e+07  3969485.00  5294399.60  17632348.60
2015-08-30  1.000726e+08  6507520.20  6408310.60  21104185.00
2015-09-06  5.963884e+07  4284341.60  4533619.20  20240932.00
2015-09-13  6.316568e+07  3479437.00  2897221.75  14661457.00
2015-09-20  5.545520e+07  4144367.40  3518054.80  13128931.00
2015-09-27  4.853925e+07  3363604.60  3921373.80  14152935.80
2015-10-04  6.277926e+07  3992458.80  4506147.80  22167052.00
2015-10-11  5.248660e+07  3893064.40  5606261.40  32198762.80
2015-10-18  3.697699e+07  3491261.80  3858202.00  32871972.80
2015-10-25  4.441498e+07  8413765.80  5730406.80  21561404.60
2015-11-01  6.447242e+07  6940753.20  3176682.60  41176148.40
2015-11-08  3.904065e+07  4306069.60  6385786.40  16632019.40
2015-11-15  4.331106e+07  5015277.60  3632380.00  16373516.80
2015-11-22  3.799625e+07  4217025.60  2958214.20  12912988.80
2015-11-29  2.743011e+07  3299895.25  2736656.00  11461361.75
2015-12-06  4.135315e+07  4589453.00  2977680.60  17047464.80
2015-12-13  3.777079e+07  4271084.00  2846006.00  21304555.40
2015-12-20  6.315827e+07  5568690.40  3298618.20  21244738.00
2015-12-27  3.165850e+07  4135361.25  1544981.25  14421296.00

### BONUS: Create your own question and answer it.